.speech {
    font-style: italic;
    font-size: 14px;
    color: black;
}

.direction {
    font-size: 18px;
    background-color: lightgray;
}

.direction:hover {
    background-color: yellow;
}

.Princess {
    font-size: 14px;
    color: black;
}

.Sach {
    font-size: 12px;
    color: black;
}


.Chloe {
    font-size: 12px;
    color: black;
}

table,
th,
td {
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: blue;
}

table {
    margin: 50px 0px 50px 20px;
}

th {
    padding: 10px 50px 10px 50px;

}

td {
    padding: 20px;
}

tr:nth-child(even) {
    background-color: #e2e2e2;
}

.Princess:hover {
    text-shadow: 2px 3px 2px #2cf005;
}

.Sach:hover {
    text-shadow: 2px 3px 1.2px #2cf005;
}

.Chloe:hover {
    text-shadow: 2px 3px 1.2px #2cf005;
}

i {
    color: orange;
    font-size: 100px !important;
}

img {
    width: "250"; 
    height: "200";
}

.navbar-horizontal {
    margin: 40px 40px 40px 40px;
    list-style-type: none;
}

.navbar-horizontal li{
    float: left;
    background-color: cornflowerblue;
}

.navbar-horizontal a:hover {
    background-color: darkkhaki;
}

.navbar-horizontal a{
    display: block;
    padding: 22px;
    color: aqua;
}